@charset "utf-8";

body{
    /* background: papayawhip; */
    margin: 0;
}
/* 그리드 컨테이너 */

.container{
    height: 100vh; /* 뷰포트 높이 설정 */
    display: grid; 
    /* 그리드를 사용하겠다고 선언 */
    grid-template-areas: "header header header header header header header header sidebar sidebar sidebar sidebar"
                        "main main main main main main main main . . . ."
                          "footer footer footer footer footer footer footer footer footer footer footer footer ";
    /* 그리드 아이템들의 grid-area이름을 정해주고나서 사용가능 : row나 column 수에 맞춰서 */
    grid-template-rows: 100px 1fr 100px; 
    /* 그리드 행의 갯수와 크기 지정 */
    grid-template-columns: repeat(12, 60px);
    /* 그리드 열의 갯수와 크기 지정 */
    grid-column-gap: 20px;
    /* 각 column'열'사이의 여백 지정 */
    justify-content: center;
    /* 그리드 안의 아이템들을 중간정렬시킴 */
    background: silver;
    position: relative;
    /* 컨테이너 앞 가상요소를 만들고 색을 지정해줘서 그리드 사용을 편하게 만듬 */
}

.container::before{
    content: "";
    position: absolute;
    top:0;
    left:50%;
    transform: translate(-50%);
    width: 940px;
    height: 100%;
    background: repeating-linear-gradient(90deg, rgba(0,0,255,0.2),rgba(0,0,255,0.2) 60px, transparent 60px, transparent 80px);
}

/* 헤더 */
.header{
    background: lightblue;
    /* grid-column: 1 / span 8; */
    grid-area: header;
}

/* 메인 */
.main{
    background:lightgoldenrodyellow;
    /* grid-column: 1 / span 12; */
    grid-area: main;
}

/* 사이드 */
.sidebar{
    background: olive;
    /* grid-column: 9 / span 4;
    grid-row: 1; */
    grid-area: sidebar;
}

/* 푸터 */
.footer{
    background: firebrick;
    /* grid-column: 1 / span 12; */
    grid-area: footer;
}
